
Optimizing Vision Transformer Model/fbdeit_optimized_scripted_quantized.pt
Optimizing Vision Transformer Model/fbdeit_optimized_scripted_quantized_lite.ptl
Optimizing Vision Transformer Model/fbdeit_scripted.pt
Optimizing Vision Transformer Model/fbdeit_scripted_quantized.pt
